@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

:root{
    --primary-color: #FBBF24;
    --secondary-color: #1F2937;
    --footer-color: #4B5563;
}

body{
    font-family: 'Source Sans Pro' , sans-serif;
    margin: 0;
}

h1{
    color: var(--secondary-color);
    text-align: center;
    margin: 0 0 1rem 0;
    padding: 1rem;
}

h1 .heading-1{
    animation-name: heading-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes heading-1{
    0% {color: var(--secondary-color);}
    50% {color: var(--primary-color);}
}

h1 .heading-2{
    color: var(--primary-color);
    animation-name: heading-2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes heading-2{
    0% {color: var(--primary-color);}
    50% {color: var(--secondary-color);}
}

#body-width{
    max-width: 600px;
    margin: auto;
}

#text-input{
    margin: 1rem 1rem 2rem 3.5rem;
    width: 80%;
    height: 10vh;
    display: block;
    text-align: center;
    color: var(--secondary-color);
}

label{
    margin-left: 3.5rem;
    font-size: large;
    color: var(--secondary-color);
}

#select-option{
    padding: 0.2rem;
    margin-left: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
}

#btn-translate{
    display: block;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0.5rem 1.5rem;
    margin: 1rem 40% 1rem 40%;
    border-radius: 2rem;

}

#disp-text{
    text-align: center;
    color: var(--secondary-color);
    margin: 1rem;
    font-weight: bold;
}


#output-text{
    margin: 1rem 1rem 0 3.5rem;
    display: inline-block;
    width: 80%;
    border: 1px solid;
    height: 17vh;
    color: var(--secondary-color);
    text-align: center;
}

#btn-mic{
    /* display: inline-block; */
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    /* font-size: larger; */
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0 1rem 3rem;
    
}


#voice-option{
    display: none;
}

.footer{
    margin: 0;
    /* background-color: var(--secondary-color); */
    /* padding-bottom: 10rem; */
}

.footer .div-footer{
    max-width: 50%;
    display: inline-block;
    margin: 0 0 2rem 35%;
    /* border: 2px solid var(--primary-color); */
}

.footer h2 {
    color: var(--footer-color);
    margin: 0;
    text-align: center;
    padding-top: 2rem;
}

.footer h2 span{
    color: var(--primary-color);
}

.footer ul{
    margin: 0;
    list-style: none;
    /* padding: 0rem 2rem 2rem 41%; */
    /* display: inline; */
    padding-inline-start: 0.5rem;
}

.footer li{
    display: inline-flex;
    margin-left: 0.5rem;
}

.footer a{
    font-size: 30px;
    color: var(--primary-color);
    padding: 0.5rem;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 2rem;
    
}

#vp {
    margin-block-end: 0;
    margin-block-start: 0;
    text-align: center;
    font-weight: bold;
    animation-name: footer-1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* animation-timing-function: ease-in-out; */
}

@keyframes footer-1 {
    0% {color: var(--primary-color);}
    50% {color: var(--secondary-color);}
}

#tp{
    margin-block-end: 0;
    margin-block-start: 0;
    text-align: center;
    font-weight: bold;
    animation-name: footer-2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* animation-timing-function: ease-in-out; */

}

@keyframes footer-2 {
    0% {color: var(--secondary-color);}
    50% {color: var(--primary-color);}
}

@media all and (max-width: 500px){
    
    #text-input{
        margin: auto;
    }

    label{
        margin: 1rem 2rem 1rem 2rem;
    }

    #select-option{
        margin: 1rem 0 0 9%;
    }

    #btn-translate{
        margin: 1rem 3rem 1rem 8rem;
    }

    #disp-text{
        margin: auto;
    }

    #output-text{
        margin: 1rem 1.5rem 1rem 1.8rem;
        display: inline-block;
    }

    #div-mic{
        margin-bottom: 2rem;
        border: 1px solid var(--primary-color);
    }

    #btn-mic{
        margin: 0 1rem 0rem 1.2rem;
    }

    #voice-option{
        display: none;
    }

    .footer{
        margin: 0;
        background-color: var(--secondary-color);
        /* padding-bottom: 10rem; */
    }
    
    .footer .div-footer{
        max-width: 70%;
        display: inline-block;
        margin: 0 0 2rem 25%;
        /* border: 2px solid var(--primary-color); */
    }
    
    .footer h2 {
        color: var(--footer-color);
        margin: 0;
        text-align: center;
        padding-top: 2rem;
    }
    
    .footer h2 span{
        color: var(--primary-color);
    }
    
    .footer ul{
        margin: 0;
        list-style: none;
        /* padding: 0rem 2rem 2rem 41%; */
        /* display: inline; */
        padding-inline-start: 0.5rem;
    }
    
    .footer li{
        display: inline-flex;
        margin-left: 0.2rem;
    }
    
    .footer a{
        font-size: 30px;
        color: var(--primary-color);
        padding: 0.5rem;
        text-decoration: none;
        border: 2px solid var(--primary-color);
        border-radius: 2rem;
        
    }
    
    #vp {
        margin-block-end: 0;
        margin-block-start: 0;
        text-align: center;
        /* flex-wrap: wrap; */
    }
    
    #tp{
        margin-block-end: 0;
        margin-block-start: 0;
        text-align: center;

    }


}